.primary-button,
.secondary-button {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 24px;
  gap: 10px;

  background: #ffffff;
  color: #5d279e;
  border-radius: 64px;
  /* border: 3px solid transparent; */
  /* background: linear-gradient(to bottom, #ffffff, #ff4ec7); */

  flex: none;
  order: 0;
  flex-grow: 0;

  overflow: hidden;

  cursor: pointer;
  box-sizing: border-box;
  background-clip: padding-box;
}

.primary-button::before,
.secondary-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: linear-gradient(to bottom, #ffffff, #c44eff);
  border-radius: 64px;

  padding: 3px;

  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: xor;
}

.secondary-button::before {
  background: linear-gradient(to bottom, #ffffff, #ff4ec7);
}

.primary-button:hover::before,
.secondary-button:hover::before {
  background: #ff4ec7;
}

.primary-button:hover,
.primary-button:active {
  color: #ff4ec7;
}
.primary-button:active {
  background: #ff4ec7;
  color: #5d279e !important;
}
.primary-button:disabled {
  color: #ddd !important;
  background: #eee;
  cursor: default;
}

.secondary-button {
  color: #fff;
  background: none;
}

.secondary-button:hover {
  background: #fff;
  color: #ff49b8;
}
.secondary-button:active {
  background: #fff;
  color: #5d279e;
}

.secondary-button:disabled {
  color: #ddd;
  cursor: default;
}

.primary-button.small,
.secondary-button.small {
  padding: 18px 25px !important;
}

.primary-button.inverted {
  background: #ff49b8;
  color: #fff !important;
}

.button-large {
  padding: 24px 90px;
}

.mobile .button-large {
  padding: 32px 110px;
}

.button-mobile-adaptive {
}

.mobile .button-mobile-adaptive {
  width: 100%;
}

.button-group {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-sizing: border-box;
}

.mobile .button-group {
  width: auto;
  flex-direction: column;
  flex-direction: column-reverse;
  gap: 14px;
}
