.g2-thing {
  position: absolute;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  pointer-events: none;
}

.g2-gameObjectBox {
  position: absolute;
  display: block;
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0);
  transition-property: transform left top;
  transition-timing-function: ease-in;
  overflow: hidden;
  pointer-events: none;
}

.g2-gameObject {
  position: absolute;
  display: block;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.g2-gameObject:hover,
.g2-is-over {
  filter: drop-shadow(0px 0px 2px rgba(255, 255, 255, 1))
    drop-shadow(0px 0px 3px rgba(255, 239, 189, 0.8))
    drop-shadow(0px 0px 6px rgba(255, 239, 189, 0.5));
}

.g2-gameObject-shape,
.g2-gameObject-area {
  position: absolute;
  display: block;
  /* background-color: rgb(0, 255, 255, 0.3); */
}

.g2-is-blinking {
  animation: g2-is-blinking 3500ms steps(1) infinite;
}

@keyframes g2-is-blinking {
  0%,
  18%,
  22%,
  28%,
  32%,
  58%,
  62%,
  100% {
    background-position: 0 0;
  }

  19%,
  21%,
  29%,
  31%,
  59%,
  61% {
    background-position: 33.333% 0;
  }
}

.g2-wide-is-blinking {
  animation: g2-wide-is-blinking 2500ms steps(1) infinite;
}

@keyframes g2-wide-is-blinking {
  0%,
  18%,
  22%,
  28%,
  32%,
  38%,
  42%,
  100% {
    background-position: 66.66% 0;
  }

  19%,
  21%,
  29%,
  31%,
  39%,
  41% {
    background-position: 100% 0;
  }
}

.g2-gameScene {
  position: absolute;
  display: block;
  background-image: url(../images/game2/bg-game.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.g2-snowball {
  position: absolute;
  display: block;
  pointer-events: none;
  background-image: url(../images/game2/snowball.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 21;
}

.g2-snowball-attack {
  position: absolute;
  display: block;
  pointer-events: none;
  background-image: url(../images/game2/snowball.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 20;
  animation: throwSnowball 600ms ease-out forwards;
}

@keyframes throwSnowball {
  0% {
    transform: translateY(0) scale(1);
    filter: blur(5px);
  }

  25% {
    transform: translateY(-200px) scale(0.6);
    filter: url(#vertical-blur-10);
  }

  50% {
    transform: translateY(-150px) scale(0.4);
    filter: url(#vertical-blur-5);
  }

  75% {
    transform: translateY(-50px) scale(0.2);
  }

  90% {
    opacity: 1;
  }

  100% {
    transform: translateY(0) scale(0.05);
    opacity: 0;
  }
}

@keyframes throwSnowballNearby {
  0% {
    transform: translateY(0) scale(1);
    filter: blur(5px);
  }
  50% {
    transform: translateY(-150px) scale(0.6);
    filter: url(#vertical-blur-5);
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateY(0) scale(0.1);
    opacity: 0;
  }
}

.g2-obj-off {
  pointer-events: none;
}

.g2-obj-on {
  pointer-events: all;
}

.g2-obj-killing {
  pointer-events: none;
  /* animation: blinking 500ms;
  animation-iteration-count: 2; */
}
.g2-obj-kill {
  pointer-events: none;
}

.g2-obj-stop {
  pointer-events: none;
}

.g2-gameBonusBox {
  position: absolute;
  display: block;
  width: 100px;
  height: 100px;
  transition-property: transform opacity left top;
  pointer-events: none;
}

.g2-gameBonus {
  position: absolute;

  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  font-family: "Forum";
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 110%;
  leading-trim: both;
  text-edge: cap;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}

.g2-negativeBonus {
  color: rgba(255, 0, 0, 1);
}
