.g4-countdown {
  color: rgba(0, 255, 255, 0.8) !important;
}

.g4-score {
  color: rgba(0, 255, 255, 0.8) !important;
}

.g4-gameScene {
  position: absolute;
  display: block;
  pointer-events: none;
}

.g4-gameBonus {
  position: absolute;

  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  font-family: "Forum";
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 110%;
  leading-trim: both;
  text-edge: cap;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}

.g4-negativeBonus {
  color: rgba(255, 0, 0, 1);
}
