$d: 15px;
$s: 10px;

.g4-gifting-container {
  position: absolute;
  display: block;
}

.g4-gift {
  position: absolute;
  width: $d;
  height: $d;
  animation: gift-shoot 5s ease-out infinite;
  animation-name: gift-shoot, gift-fade;
  border-radius: $d;

  @for $i from 0 to 15 {
    $t: (1 + 0.1 * random(10)) * 900ms;

    $giftNum: random(5);

    $sizeAdd: random(5) * $giftNum * 2px;
    $finalSize: $d + $sizeAdd;

    $rotateDeg: $i * (360/15);

    &:nth-child(#{$i + 1}) {
      width: $finalSize;
      height: $finalSize;
      border-radius: $finalSize;
      // transform: translate(random($s) * 1px - $s/2, random($s) * 1px - $s/2);
      transform: rotate(#{$rotateDeg}deg) translateY((200 + random($s)) * 1px);

      background-image: url("../images/game4/gift-particle-#{$giftNum}.png");
      background-size: contain;
      animation-duration: $t;
      animation-delay: 0.01 * random(100) * $t;
      animation-fill-mode: both;
    }
  }
}

@keyframes gift-shoot {
  0% {
    transform: translate(0, 0);
  }
}
@keyframes gift-fade {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
