.game h1 {
  font-family: "Geologica";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.game .mobile h1 {
  font-size: 24px;
  line-height: 24px;
}

.game h2 {
  font-family: "Geologica";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.game .mobile h2 {
  font-size: 24px;
  line-height: 32px;
}

.game .scores-info-plate h2 {
  font-size: 30px;
  line-height: 28px;
  font-weight: 500;
}

.game h3 {
  font-family: "Geologica";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.game .mobile h3 {
  font-size: 20px;
  line-height: 28px;
}

.game .scores-info-plate h3 {
  font-size: 20px;
}

.game p {
  font-family: "Geologica";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin: 0;
}

.game .mobile p {
  font-size: 20px;
  line-height: 28px;
}

.game p.small {
  font-size: 14px;
  line-height: 18px;
}

.game .mobile p.small {
  font-size: 16px;
  line-height: 20px;
}

.game .button,
.game .button-large {
  font-family: "Geologica";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
}

.game .mobile .button {
  font-size: 20px;
  line-height: 28px;
}

.game .button-large {
  font-size: 16px;
  line-height: 16px;
}

.game .mobile .button-large {
  font-size: 24px;
  line-height: 24px;
}

.game .display {
  font-family: "Geologica";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
}

.game .score-value {
  font-family: "Geologica";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 48px;
}

.game .score-title {
  font-family: "Geologica";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
}

.game .table {
  font-family: "Geologica";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.game .bold {
  font-weight: 800 !important;
}

.game .caps {
  text-transform: uppercase;
}

.game li {
  list-style: none;
  text-transform: uppercase;
  font-family: "Geologica";
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
}

.g4-select-title {
  position: absolute;
  font-family: "Geologica";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 135%;
  text-align: center;
  color: #ffffff;
}

.mobile .g4-select-title {
  font-size: 24px;
}

.g4-select-subtitle {
  font-family: "Geologica";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 135%;
  text-align: center;
  color: #6c1100;
}

.mobile .g4-select-subtitle {
  font-size: 24px;
}

.g4-select-hint {
  font-family: "Geologica";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 135%;
  text-align: center;
  color: #ffffff;
}

.mobile .g4-select-hint {
  font-size: 18px;
}
